.games{
    display: inline-block;
    height:20vh;
    width:15vw;
    text-decoration: none;
    color: white;
    padding:30px;
}

.item{
    display: flex;
    flex-direction: column;
}

img{
    height:15vh;
    width:15vw;
}

h3{
    color:white;
    text-align:center;
}
