


.up{
    display: flex;
    flex-direction: row;
    margin:auto;
}

.header{
    text-align: center;
    color:white;
    font-size:32px;
    margin:20px;
}

.desc{
    color:white;
    font-size:16px;
    width: 500px;
}

.pathways{
    display: flex;
    flex-direction: column;
}

.button{
    display: inline-block;
    margin: 10px auto;
    color:white;
    width:95vw;
    border: 2px solid blue;
}

.article{
    display:flex;
    flex-direction: row;
}

.video{
    display:flex;
    flex-direction: row;
}

.game{
    display:flex;
    flex-direction: row;
}

.asset{
    display:flex;
    flex-direction: row;
}

.education{
    display:flex;
    flex-direction: row;
}

.info{
    display:flex;
    flex-direction:column;
    text-align:center;
}



img{
    width: 20vw;
}